<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Macska hozzáadása</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post">
        <div style="text-align: center;">
          <h3>A macska szeme színe:</h3>
          <br>
          <input type="text" name="szem_szin" required> 
          <br>
          <h3>A macska súlya:</h3>
          <br>
          <input type="number" name="suly" required min="1"> 
          <br><br>
        <input type="submit" value="Létrehozás">
        <br>  
        <br>
    </form>
    <a href="/">Vissza a főoldalra</a>
        </div>
</body>
</html>
